@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Satoshi", sans-serif;
    /* text-decoration: none; */
}

:root {
    /* general color */
    --bg-color: #fffffe;
    --head-text: #00214d;
    --text-color: #1b2d45;
    --button-color: #00ebc7;
    --link-highlight: #00ebc7;
    --card-bg: #f2f4f6;
    --card-highlight: #ff5470;

    /* color pallete https://www.happyhues.co/palettes/2 */
}
p {
    color: var(--text-color);
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
    background: var(--bg-color);
    z-index: 10;
}

nav .nav-content {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    align-items: center;
}

nav .logo a {
    font-weight: 500;
    font-size: 35px;
    color: var(--head-text);
    text-decoration: none;
}

.search-box {
    padding-left: 30px;
}

.search-box input {
    border: none;

    width: 500px;
    height: 30px;
}

@media (max-width: 600px) {
    .search-box input {
        width: 100%;
    }
}

.search-box button {
    padding: 10px;
    border: none;
    background-color: transparent;
}
.search-box button:hover {
    font-size: 15px;
    transition: all ease-in-out 0.3s;
}

.nav-content .nav-links {
    display: inline-flex;
    align-items: center;
}
.nav-content .nav-links li {
    list-style: none;
    margin: 0 8px;
}
.nav-content .nav-links .link {
    background: var(--button-color);

    list-style: none;
    margin: 0 8px;
}
.nav-links li a {
    text-decoration: none;
    color: #0e2431;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
}
.nav-links li a:hover {
    color: #4070f4;
}

.carousel {
    height: 70vh;
    width: 100%;
    background: url("../img/bg/Colored Shapes.svg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* z-index: -99; */
}
.caro-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #5b6674; */
    margin: 80px;
    height: 100%;
    padding: 20px;
}
.content {
    text-align: justify;
    padding: 40px 80px;
}
.card .card-body {
    background: var(--card-bg);
}

.card img:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.kategori {
    /* margin: 20px 0; */
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-items {
    margin: 10px 0;
}

/* style list produk */

.list-produk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: 20px 0; */
}
.card {
    width: 190px;
    height: 254px;
    margin: 20px 0;
    padding: 0.8em;
    background: #c23f3f;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
    background-color: var(--card-bg);
    height: 50%;
    width: 100%;
    border-radius: 0.5rem;
    transition: 0.3s ease;
}

.card-info {
    padding-top: 10%;
}

.card-info .text-title {
    color: var(--card-highlight);
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: 0.9em;
    padding-bottom: 10px;
}

/*Button*/
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: 0.3em;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

/*Hover*/
.card-img:hover {
    transform: scale(1.05);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
        rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    /* border: 1px solid #ffcaa6; */
    background-color: var(--link-highlight);
}
